---
database:
  decidim_cards:
    name: <EXISTING METABASE DATABASE>
  matomo_cards:
    name: <EXISTING METABASE DATABASE>
collection_name: <NEW OR EXISTING METABASE COLLECTION>
language: fr # en
group_cards:
host: <HOST>
